<AuCard @divided={{false}} @flex={{true}} @size='small' as |c|>
  <c.content>
    <div>
      <AuHeading @level="2" @skin="5">{{t "sidebar.entry.title"}}</AuHeading>
      <p class="au-u-para-small au-u-padding-top-tiny">
        <AuPill>{{this.content}}</AuPill>
      </p>
    </div>
  </c.content>
  <c.footer>
    <AuButton @skin="naked" @icon="bin" @iconAlignment="left" @alert={{true}} onclick={{@onRemove}} class="au-u-padding-none">
      {{t "sidebar.entry.remove"}}
    </AuButton>
  </c.footer>
</AuCard>
