<div class='say-editor-hints__insert'>
  <div class='au-c-accordion au-c-accordion--reverse au-c-accordion--border'>
    <AuToolbar @nowrap={{true}} @reverse={{true}} {{on 'click' this.toggle}}>
      <AuToolbarGroup>
        <div>
          <AuButton
            @skin='tertiary'
            aria-hidden='true'
            focusable='false'
            aria-expanded='{{if this.expanded "true" "false"}}'
          >
            {{t "sidebar.title"}} ({{this.confidentialMarkGroups.length}})
          </AuButton>
        </div>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuIcon
            @icon='not-visible'
            @alignment='left'
            @size='large'
            @ariaHidden='true'
          />
        {{#if this.expanded}}
          <span class='au-u-hidden-visually'>
            Open accordion
          </span>
        {{else}}
          <span class='au-u-hidden-visually'>
            Sluit accordion
          </span>
        {{/if}}
      </AuToolbarGroup>
    </AuToolbar>

    <div class={{if this.expanded 'au-c-accordion__content' 'au-u-hidden'}}>
      <AuList @divider={{true}}>
        {{#each this.confidentialMarkGroups as |entry|}}
          <AuList::Item>
            <ConfidentialitySidebarEntry
              @entry={{entry}}
              @onRemove={{(fn this.removeConfidentialMarkGroup entry)}}
            />
          </AuList::Item>
        {{/each}}

      </AuList>
    </div>
  </div>
</div>
